<% if @list.errors.any? %>
    <div id="error_explanation" class='alert alert-error'>

      <button class="close" data-dismiss="alert" type="button">&times;</button>
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<% opts = Language.all.collect{ |lang| [ lang.name, lang.id ] } %>
<%= form_for( @list, html: { class: 'list_form' } ) do |f| %>
    
    <table>

      <tr>
        <td>
          <%= f.text_field                           :name,
                           class:       'vkeyboard-target', 
                           placeholder:        'List Name' %>
        </td>
        <td>
          <%= f.label :public, class: 'checkbox' do %>

              <%= f.check_box :public %> Public?

          <% end %>
        </td>
      </tr>

      <tr data-index='-1'>
        <td><%= select( :list, :lang1_id, opts ) %></td>
        <td><%= select( :list, :lang2_id, opts ) %></td>
      </tr>

      <% i = 0 %>
      <%= f.fields_for :list_items do |lf| %>

        <%= render 'item', f: lf, index: i %>
        <% i += 1 %>
      <% end %>

    </table>

  <div class="actions">
    <%= f.button                             "Add Definition", 
                 id:                         "add_definition",
                 class:           "btn btn-primary btn-block", 
                 type:                               'button' %><br/>
    <%= f.submit class: "btn btn-success btn-large btn-block" %>
  </div>

<% end %>
