<%= render 'filter' %>

<table class='table table-striped table-hover list-index'>

<thead>
  <tr>
    <th><%= sort_column 'public',      "<i class='icon-eye-close'></i>" %></th>
    <th style="width:25%;"><%= sort_column                       'name' %></th>
    <th style="width:13%;"><%= sort_column                 'created_by' %></th>
    <th style="width:20%;"><%= sort_column                  'languages' %></th>
    <th style="width:12%;"><%= sort_column                     'rating' %></th>
    <th style="width:15%;"><%= sort_column 'updated_at', 'Last Updated' %></th>
    <th class='pull-right'>Actions</th>
  </tr>
</thead>

<tbody>

<% @lists.each do |list| %>
  <tr>
    <td><i class='icon-eye-<%= list.public ? 'open' : 'close' %>'></i></td>
    <td><%= link_to list.name, list_path(list) %></td>
    <td><%= list.user.first_name %></td>
    <td><%= list.lang1.name + " - " + list.lang2.name %></td>
    <td><%= render 'rating', list: list %></td>
    <td><%= list.updated_at.strftime( '%d/%m/%Y') %></td>

    <td><%= render 'tools', list: list %></td>
  </tr>
<% end %>

</tbody>

</table>

<%= paginate @lists %>