<div class='list-box list-view'>
    <h2><%= @list.name %>     
        <span class='pull-right star-rating' data-id='<%= @list.id %>'>
            <%= render 'rating', list: @list %>
            <i class='icon-eye-<%= @list.public ? 'open' : 'close' %>'></i>
        </span>
    </h2>

    <table class='table table-striped definition-table'>

        <thead>

            <tr>
                <th style='width: 25%;'></th>
                <th style='width: 25%;'><%= @list.lang1.name %></th>
                <th style='width: 25%;'><%= @list.lang2.name %></th>
                <th style='width: 25%;'></th>
            </tr>

        </thead>

        <tbody>
            <% @list.list_items.each do |item| -%>
                <%= render partial:                'list_item', 
                           locals:  { list: @list, item: item } -%>
            <% end -%>
        </tbody>

    </table>

    <%= link_to(         "/test/from/#{@list.id}", 
                 class: 'btn btn-block btn-large' ) do %>

        Test <%= @list.lang1.name %> &rarr; <%= @list.lang2.name %>

    <% end %>

    <%= link_to(           "/test/to/#{@list.id}",
                 class: 'btn btn-block btn-large' ) do %>

        Test <%= @list.lang2.name %> &rarr; <%= @list.lang1.name %>

    <% end %>

    <%= link_to(              'Edit', edit_list_path( @list ), 
                 class: 'btn btn-block btn-large btn-primary' ) if @list.user == current_user %>

    <%= link_to(              "Copy", copy_list_path( @list ),
                 method:                                :post,
                 class: 'btn btn-block btn-large btn-success' ) %>

    <%= link_to(             'Delete List', list_path( @list ), 
                 class:            'btn btn-block btn-danger',
                 method:                              :delete,
                 data:           { confirm: "Are you sure?" } ) if @list.user == current_user %>

    <%= link_to(       '« Back', 'javascript:history.back();', 
                 class:    'btn btn-block btn-small btn-info' ) %>

</div>
