<!DOCTYPE html>
<html>
<head>
  <title>Lingua</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type='text/css'><%= yield(:style) %></style>
</head>
<body>

<%= render 'nav' %>

<div class='row-fluid' style='margin-top:10px;'>
<div class='span8 offset2'>

    <% if notice %> <div class="alert alert-success">

        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= notice %>

    </div> <% end %>

    <% if alert %><div class="alert alert-error">

        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= alert %>

    </div> <% end %>

    <% error = devise_controller? ? devise_error_messages! : nil %>

    <% if error && error != "" %><div class="alert alert-error">

        <button class="close" data-dismiss="alert" type="button">&times;</button>
        <%= error %>

    </div> <% end %>

    <%= content_for?(:content) ? yield(:content) : yield %>

</div>
</div>

</body>
</html>
